@font-face {
   font-family: 'Incised901 NdIt BT Italic';
   src: url('Incised901 NdIt BT Italic/font.ttf');
}
@font-face {
   font-family: 'PrimaSans BT Bold';
   src: url('PrimaSans BT Bold/font.ttf');
}
@font-face {
   font-family: 'Geometr706 Md BT Medium';
   src: url('Geometr706 Md BT Medium/font.ttf');
}
